*
{
	margin:0px;
	padding: 0px;
	font-family: arial;
}
h1
{
	height: 75px;
	/*background-color: blue;*/
	color: orange;
	text-align: center;
	color: gray;
	/*margin: 50px 0 0 0;*/
	line-height: 75px;
	font-style: normal;
	font-size: 25px;
	letter-spacing: 2px;
}
.wrapper
{
	height: 700px;
	width: 100%;
	background-color: maroon;
}
.vp1
{
	height: 500px;
	width: 50%;
	background-color: white;
	margin: 75px 0 0 25%;
	float: left;
	border: 1px solid grey;
	opacity: .5;
}
.vp1 img
{
	opacity: .5;
}
p
{
	height: 40px;
	width: 60%;
	/*background-color: yellow;*/
	margin: 20px 0 0 20%;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: grey;
}
p:nth-child(2)
{
	height: 30px;
	width: 5%;
	/*background-color: red;*/
	margin:-20px 0 0 47.5%;
	border-bottom: 5px solid grey;
}
form
{
	height: 400px;
	width: 80%;
	background-color: cyan;
	margin: 20px 0 0 10%;
}
h6
{
	height: 20px;
	width: 25%;
	background-color: orange;
	margin:  0 0 0 5%;
	font-size: 18px;
}
#ip1
{
	margin: 10px 0 0 5%;
	height: 20px;
	width: 40%;
	border: 1px solid silver;
	outline: none;
}
#lname
{
 margin: -20px 0 0 50%;	
}